# Dependencies
node_modules/
apps/api/node_modules/

# Flutter and Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
apps/mobile/build/

# Environment
.env
*.local

# Logs
*.log
.homie-api.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
